
html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    overflow-x: hidden; 
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	min-width: 320px;
    overflow-x: hidden; 
    background: #f4f4f9;
    scroll-behavior: smooth;
    margin: 0;
    // overflow-y: hidden;
}
.container{
    // max-width: 1440px;
    // margin: 0 auto;
    // width: 100%;
    padding: 0 14px;
    // border-left: 1px dotted $decor;
    // border-right: 1px dotted $decor;
}
nav{
    display: block;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    line-height: 24px;
    font-size: 14px;
    background-color: transparent;
}
a, label{
    -webkit-tap-highlight-color: transparent;
}
img {
    display: block;
    border-style: none;
    max-width: 100%;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 28px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
::selection {
    background: #ccacc8;
    color: rgb(179, 212, 252);
}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    resize: none;
    font-family: 'Lato', sans-serif;
}
a,
button:focus,
select:focus,
img:focus {
	box-shadow: none;
    outline: none;
    border: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height:100%;
    overflow: hidden;
}
.content{
    flex: 1 0 auto;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 31px;
    font-style: 600;
}
